@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./themes.css";

body {
  color: var(--foreground);
  background: var(--background);
  font-family: inherit;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
